<a href="https://colab.research.google.com/github/Kalisha1234/Python-Lessons/blob/main/sqlite1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:


import sqlite3
con = sqlite3.connect('Student.db')
c = con.cursor()
#c.execute("""CREATE TABLE Student(
#           First text,
#           Other text,
#           )""")
#c.execute("INSERT INTO Student VALUES('Van', 'Dray', 'Push')")
c.execute("SELECT * FROM Student")
print(c.fetchall())
con.commit()
con.close()

OperationalError: near ")": syntax error