<a href="https://colab.research.google.com/github/Kalisha1234/Python-Lessons/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3

In [9]:
connection = sqlite3.connect('Drugs.db')

In [10]:
# Create a cursor object
c = connection.cursor()

# Create a table
c.execute('''
    CREATE TABLE Med (
        id INTEGER PRIMARY KEY,
        DrugName TEXT NOT NULL,
        AvailableQuantity TEXT NOT NULL
    )
''')

# Save (commit) the changes
connection.commit()

In [11]:
# Insert a new drug
c.execute('''
    INSERT INTO Med (DrugName, AvailableQuantity )
    VALUES ('Paracetamol', 300),
    ('Omeperazole', 5000),
    ('Acetaminophen', 400),
    ('Paracetamol',5000),
    ('Nugel O', 3000),
    ('Ibuprofen', 700),
    ('Amoxicillin', 1000),
    ('Vitamin C', 3000)
''')

# Save (commit) the changes
connection.commit()

In [12]:
# Query the database
c.execute('SELECT * FROM Med')

# Fetch and print the results
for row in c:
    print(row)

(1, 'Paracetamol', '300')
(2, 'Omeperazole', '5000')
(3, 'Acetaminophen', '400')
(4, 'Paracetamol', '5000')
(5, 'Nugel O', '3000')
(6, 'Ibuprofen', '700')
(7, 'Amoxicillin', '1000')
(8, 'Vitamin C', '3000')

In [13]:
# Delete a user
c.execute('''
    DELETE FROM Med
    WHERE DrugName = 'Nugel O'
''')

# Save (commit) the changes
connection.commit()

In [14]:
# Query the database
c.execute('SELECT * FROM Med')

# Fetch and print the results
for row in c:
    print(row)

(1, 'Paracetamol', '300')
(2, 'Omeperazole', '5000')
(3, 'Acetaminophen', '400')
(4, 'Paracetamol', '5000')
(6, 'Ibuprofen', '700')
(7, 'Amoxicillin', '1000')
(8, 'Vitamin C', '3000')